//
   Created by Catherine Andrea on 06/2017.

doctype html
html(lang='pt-br')

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(href="css/normalize.css", rel="stylesheet")
        link(href="css/grid.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        link(href="css/responsivo.css", rel="stylesheet")


        title Meet our team

    body

        header
            .container
                .grid-4
                    img(src='img/logo-symbol.svg').logo
                    img(src='img/logo-type.svg').header-type

        .container

            .grid-12
                h1 Meet our team
                .subtitle
                    p We are a group of multi-skiled individuals who are entrepreneurial by nature and live to make digital products and services that people love to use.
                    img(src='img/logo-twitter.svg').logo
                    p Latest tweets

        .container
            .grid-1-3.twt-user
                img(src='img/rafael-torales.jpg').twt-img
                p.small Rafael Torales
                .twt-content
                    p.small.user @rafaeltorales
                    p.small Designer
                    p.twt-about "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

            .grid-1-3.twt-user
                img(src='img/flavio-ludgero.jpg').twt-img
                p.small Flavio Ludgero
                .twt-content
                    p.small.user @flavioludgero
                    p.small Developer
                    p.twt-about "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

            .grid-1-3.twt-user
                img(src='img/renato-carvalho.jpg').twt-img
                p.small Renato Carvalho
                .twt-content
                    p.small.user @renatolz
                    p.small Designer
                    p.twt-about "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

            .grid-1-3.twt-user
                img(src='img/victoria-haidamus.jpg').twt-img
                p.small Victoria Haidamus
                .twt-content
                    p.small.user @vhaidamus
                    p.small Designer
                    p.twt-about "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

            .grid-1-3.twt-user
                img(src='img/kande-bonfim.jpg').twt-img
                p.small Kande Bonfim
                .twt-content
                    p.small.user @kandebonfim
                    p.small Developer
                    p.twt-about "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

            .grid-1-3.twt-user
                img(src='img/matheus-sales.jpg').twt-img
                p.small Matheus Sales
                .twt-content
                    p.small.user @matheus_sales
                    p.small Developer
                    p.twt-about "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

        footer


