//
   Created by Catherine Andrea on 18/06/2017.

doctype html
html(lang='pt-br')
   head
      link(href="css/normalize.css", rel="stylesheet")
      link(href="css/grid.css", rel="stylesheet")
      link(href="css/style.css", rel="stylesheet")
      link(href="css/responsivo.css", rel="stylesheet")

   body
      header
         .container
            .grid-4
               img(src='img/logo-symbol.svg').logo
               img(src='img/logo-type.svg').header-type

      .container
         .name
            p.small Rafael Torales
         .sub_subtitle
            p.small Product Designer
            img(src='img/logo-twitter.svg')
            p @rafaeltorales

         section.timeline
            ul
               li
                  .time
                      img(src='img/rafael-torales.jpg').timeline-img
                      p.small.twt-time 5h
                      p.timeline-text "I crunched the data from every episode of Netflix's Ultimate Beatmaster"
               li
                   .time
                       img(src='img/rafael-torales.jpg').timeline-img
                       p.small.twt-time 5h
                       p.timeline-text "I crunched the data from every episode of Netflix's Ultimate Beatmaster"
               li
                   .time
                       img(src='img/rafael-torales.jpg').timeline-img
                       p.small.twt-time 5h
                       p.timeline-text "I crunched the data from every episode of Netflix's Ultimate Beatmaster"
               li
                   .time
                       img(src='img/rafael-torales.jpg').timeline-img
                       p.small.twt-time 5h
                       p.timeline-text "I crunched the data from every episode of Netflix's Ultimate Beatmaster"
               li
                   .time
                       img(src='img/rafael-torales.jpg').timeline-img
                       p.small.twt-time 5h
                       p.timeline-text "I crunched the data from every episode of Netflix's Ultimate Beatmaster"

      footer